<div class="container-fluid ">
    <!-- <header class="row d-flex align-items-center justify-content-between bg-success">
        <div class="col-md-8 text-start text-warning ">
            <img src="./assets/logo.png" alt="logo">
            <span class="ms-3 fw-semibold fs-4">Flora-Fauna</span>
        </div>
        <div class="col-md-4 d-flex justify-content-center ">
            
            <ul class="list-unstyled w-50 d-flex justify-content-evenly mt-2 " >
                <li routerLink={{item.route}} *ngFor="let item of myMenu">{{item.name}}</li>
            </ul>
            
            <button type="button" class="mt-1 mb-1 border border-white text-warning bg-success btn-raised rounded shadow signUp" routerLink = "/user/signUp" >Sign Up</button>

        </div>
    </header> -->
    <app-header [options] = "options"></app-header>
    
    <section class="row my-3">
        <div class="col-6">
            <div class="row h-100">
               <div class="row justify-content-center align-self-center" style="opacity: 0.6;">
                    <img src="./../../assets/planet-earth.png" alt="nature logo" class="w-50">
                </div>

               <div class="row justify-content-around mt-4 ps-3">
                    <span class="fs-1 text-white fw-semibold mb-0"> Contribute for the Benefit </span>
                    <span class="fs-6 text-warning fst-italic my-0">...for the nobel nature</span>
               </div>
            </div>
            
        </div>
        <div class="col-6 text-white fs-6 ps-2 pt-1">
            <article>
          
                <ul class="fst-italic overflow-y-auto ">
                    <li>
                        Yet we have so disconnected ourselves from the natural world that it is easy—and often convenient—to forget that nature remains as giving as ever, even as it vanishes bit-by-bit.
    
                    </li>
                    <li>
                        The rise of technology and industry may have distanced us superficially from nature, but it has not changed our reliance on the natural world: most of what we use and consume on a daily basis remains the product of multitudes of interactions within nature, and many of those interactions are imperiled.
                    </li>
                    <li>
                        The rise of technology and industry may have distanced us superficially from nature, but it has not changed our reliance on the natural world: most of what we use and consume on a daily basis remains the product of multitudes of interactions within nature, and many of those interactions are imperiled.
                    </li>
                    <li>
                        Microorganisms are single-celled organisms that are found in almost every location on the Earth where there is liquid water.
                    </li>
                    <li>Improved technologies have had significant impacts on nature, both positive and negative. On one hand, technology has enabled advancements in environmental monitoring, conservation, and restoration efforts. For example, the development of remote sensing technology, such as satellite imagery and drones, has allowed scientists to monitor changes in ecosystems and wildlife populations over time, track the spread of pollution, and plan more effective conservation strategies. Additionally, technology has played a crucial role in the development of renewable energy sources, such as solar panels and wind turbines, which help reduce our reliance on fossil fuels and decrease greenhouse gas emissions.</li>
                </ul>
            </article>
        </div>
        
    </section>

    <app-footer></app-footer>

    
</div>




